[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
X-Lomiri-Touch=true
Name=Sagetea Mail
Keywords=mail;e-mail;IMAP;SMTP;eml;MUA;
Exec=sageteamail
Icon=${SNAP}/meta/gui/sageteamail.png
MimeType=x-scheme-handler/mailto;application/sageteamail;x-scheme-handler/sageteamail;
X-Lomiri-Splash-Color=#F5F5F5
