<?xml version="1.0" encoding="UTF-8"?>
<service>
    <type>sageteamail.sagetea_sageteamail</type>
    <name>Google</name>
    <provider>google</provider>
</service>
